html,body{
  margin: 0;
  overflow-x: hidden;
}
header{
  height: 42px;
  background-color: white;
}
.first_header_container{
  background-color: inherit;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  z-index: 1;
}
.header_container{
  background-color: inherit;
  width: 80%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
.header_left_buttons,.menu_icon,.search_icon,.header_link,.title,.hrb,.hlb{
  display: inline-block;
}
.header_left_buttons{
  background-color: white;
  border: none;
  padding: 8px;
}
.header_left_buttons:hover{
  background-color: #ebebeb;
}
.menu_icon,.search_icon{
    display: inline-block;
    height: 16px;
    vertical-align: sub;
    width: 16px;
}
.hrb{
  position: relative;
  top: 6px;
  float: right;
}
.hrb button:hover{
      background-color: #326891;
}
.title{
    width: 68%;
    height: 26px;
    text-align: center;
    position: relative;
    top: 10px;
}
.title svg {
  width: 195px;
}
.header_link{
    position: relative;
    left: 12px;
    font-size: 14.25px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;

}
.header_link a{
  text-decoration: none;
  color: black;
}
.header_link a:hover{
  text-decoration: underline;
}
.hrb button{
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    -webkit-transition: ease 0.6s;
    transition: ease 0.6s;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    line-height: 11px;
    padding: 8px 9px 6px;
    text-transform: uppercase;
}

.header_link,.title,.hrb{
}

/* Content section */
.container{

}

.container-title{
  margin: 30px auto 10px auto;
  width: 46%;
}

.container-title h1 {
  color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.8125rem;
    line-height: 2.125rem;
    margin: 0 20px 1rem;
    position: relative;
    width: 376px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    z-index: -1;
}

.main_image{
  margin: 0 auto;
  width: 63%;
}

#image{
    width: 100%;
    height: auto;
}
.image_captions{
  font-size: 0.9375rem;
  margin-right: 31%;
}
.image_captions, .image_captions small{
  color: #666;
}
.image_captions small{
  font-size:0.8125rem;
}

/* Widget section */
.widget_section{
  clear: both;
  width: 53%;
  margin: 13px auto;
}
.author {
  margin: 5% auto 15px auto;
  font-size: 0.9375rem;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  color: black;
  text-decoration-color: #ccc;
}
.author a{
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  color: #333;
  text-decoration-color: #ccc;
  font-size: 100%;
}
.widget_position{
    list-style: none;
    display: -webkit-flex;
  }
  #time_author {
    font-size: 0.8125rem;
    width: auto;
    margin-bottom: 0;
    margin-left: 0;
    display: inline-block;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 500;
    line-height: 1.125rem;
    padding-top: 7px;
  }
.widgets ul{
  display: inline-flex;
  list-style: none;
  float: right;
}
.widgets ul :nth-child(5){
  padding:0 16px;
}
#author_social{
  margin: auto;
  width: 91%;
}

/* Main content */

.text_content{
  color: #333;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 19px;
  line-height: 1.5;
  margin: 0 auto;
  width: 51%; /* Improve this rule for responsive content (Orestis width: 41%)  */
}

.text_content p{
  margin-bottom: 23px;
}

.advertise{
  width: 100%;
  overflow: hidden;
  transform: scaleX(4);
  background-color: #ccc;
  height: 270px;
  margin-bottom: 20px;
  z-index: -1;
}

/*Video Content*/
.video-content{
  width: 100%;
  height: 357.5px;
  margin-bottom: 10px;
}
.figure figcaption{
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  margin: 5px 0px 50px 0;
  text-align: left;
  line-height: 13px;
}
.figure figcaption span{
  margin-right: 162px;
}
.figure figcaption span:nth-child(1){
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
.figure figcaption span:nth-child(2){
  font-size: 0.8125rem;
}
.video{
  width: 100%;
  height: 100%;
}

/* More articles section */

.bottom-comment{
  color: #999;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-size: 12px;
}

.bottom-comment span{
  display: block;
  margin-bottom: 30px;
}

.read-comments-btn{
  float: left;
  width: 328px;
}

.bottom-buttons button{
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 4px;
  color: white;
  padding: 13px 0;
  width: 100%;
}

.bottom-widgets{
  float: right;
}

.icons{
  background-color: #eee;
  border-radius: 50%;
  margin-right: 9px;
  padding: 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #eee;
}
.icons:hover{
  background-color: white;
  border: 1px solid #eee;
}
.main-icons{
  background-color: #eee;
  border-radius: 50%;
  margin-right: 9px;
  padding: 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #eee;
}
.main-icons:hover{
  background-color: white;
  border: 1px solid #eee;
}

/* More articles section */

.more-articles{
  width: 70%;
  clear: both;
  margin:0 auto;
}
.more-articles h2 a{
  color: black;
  text-decoration: none;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.more-articles h2 a:hover{
  text-decoration: underline;
}
.thumbs-img{
  width: 249px; /* Needs fixes for differnt screens */
}
.thumbs-img img{
  width: 100%;
}
.editors-picks{
  clear: both;
  width: 76%;
}
.thumbnails{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header_article{
  display: flex;
  margin-top: 14%;
  margin-bottom: 1%;
}
.article_title{
  width: 76%;
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 14px;
  padding-bottom: 10px;
}
.thumb_captions{
  color: rgb(153, 153, 153);
  text-align: right;
  font-size: 11px;
}
.caption_text{
  font-size: 18px;
  line-height: 22px;
  color: #121212;
  font-weight: bolder;
  font-family: nyt-cheltenham;
}
.dates{
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.25rem;
  letter-spacing: .3px;
  color: #999;
  margin-top: 13px;
  display: block;
  margin-bottom: 18px;
}
.thumbs-articles{
  width: 76%;  /* Needs fixes for differnt screens */
}

/* Recommendes section */

.recommended  {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  border-top: 1px solid rgb(0, 0, 0);
  margin-left: 56%;
  padding: 15px 0 15px 0;
  position: absolute;
  width: 17%;
}

.recommended .spacing{
  margin-bottom: 16px;
}

.recommended ul li {
  border-top: 1px solid #ccc;
  list-style:none;
  padding: 15px 0;
}

.recommended ul li a{
  color: black;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  text-decoration: none;
}

.recommended ul li a:hover{
  color: rgb(102, 102, 102);
}

/* Picks Editor section */

.editor_title{
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  line-height: 1.375rem;
  padding-top: 23px;
  padding-bottom: 5px;
  border-top: 1px solid black;
  width: 100%;
}
.editor_thumbs{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.new_york_image{
  display: block;
  height: 44px;
  vertical-align: middle;
  width: 184px;
}

/* Footer section */

.site-map{
  margin: 0 auto;
  width: 76%;
}
.site-map::before{
  content: "";
  display: block;
  height: 1px;
  margin-top: 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-top: 2px solid rgb(226, 226, 226);
}
.ny-image{
  margin-bottom: 14px;
}

.go-home{
  font-size: 12px;
  float: right;
  padding-top: 12px;
}

.go-home a{
  color: rgb(98, 136, 165);
  font-family: inherit;
  text-decoration: none;
}

.sitemap-content{
  display: flex;
  justify-content: space-between;
}

.sitemap-content section{
  margin-right: 15px;
}

.sitemap-content section h3{
  color: black;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

.sitemap-content section ul li{
  list-style: none;
  padding-top: 8px;
}

.sitemap-content section ul li a{
  color: black;
  font-family: nyt-franklin;
  text-decoration: none;
  font-size: 14px;
}
.sitemap-content section ul li a:hover{
  text-decoration: underline;
}
.footer_lists li{
  display: inline-block;
}
.subscribe-content{
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 17px;
}
#first_set_sub_links li a{
  font-size: 12px;
  font-family: nyt-franklin;
}
#first_set_sub_links{
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 4px;
}
#second_set_sub_links{
  padding-top: 4px;
}
#second_set_sub_links li a{
  font-size: 12px;

  font-family: nyt-franklin;
}
/* footer styling */

footer{
  border-top: 1px solid rgb(226, 226, 226);
  margin: 14px auto;
  width: 76%;
  text-align: center;
}
.footer_lists{
  padding-top: 0.5%;
}
.footer_lists li a {
  color: rgb(153, 153, 153);
  font-size: 12px;
  text-decoration: none;
  padding-right: 7px;
}
.footer_lists li a:hover{
  text-decoration: underline;
}
#subscribe_icon_list li a {
  font-size: 20px;
}
#subscribe_icon_list li a svg{
  width: 15px;
  height: 15px;
}
.subscribe_icons{
  margin-right: 7px;
}
