html,body{
  margin: 0;
}
header{
  height: 42px;
  background-color: white;
}
.first_header_container{
  background-color: inherit;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}
.header_container{
  background-color: inherit;
  width: 80%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
.header_left_buttons,.menu_icon,.search_icon,.header_link,.title,.hrb,.hlb{
  display: inline-block;
}
.header_left_buttons{
  background-color: white;
  border: none;
  padding: 8px;
}
.header_left_buttons:hover{
  background-color: #ebebeb;
}
.menu_icon,.search_icon{
    display: inline-block;
    height: 16px;
    vertical-align: sub;
    width: 16px;
}
.hrb{
  position: relative;
  top: 6px;
  float: right;
}
.title{
    width: 68%;
    height: 26px;
    text-align: center;
    position: relative;
    top: 10px;
}
.title svg {
  width: 195px;
}
.header_link{
    position: relative;
    left: 12px;
    font-size: 14.25px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;

}
.header_link a{
  text-decoration: none;
  color: black;
}
.header_link a:hover{
  text-decoration: underline;
}
.hrb button{
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    -webkit-transition: ease 0.6s;
    transition: ease 0.6s;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    line-height: 11px;
    padding: 8px 9px 6px;
    text-transform: uppercase;
}

.header_link,.title,.hrb{
}

/* Content section */
.container{

}

.container-title{
  margin: 30px auto 10px auto;
  width: 46%;
}

.container-title h1 {
  color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.8125rem;
    line-height: 2.125rem;
    margin: 0 20px 1rem;
    position: relative;
    width: 376px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    z-index: -1;
}

.main_image{
  margin: 0 auto;
  width: 63%;
}

#image{
    width: 100%;
    height: auto;
}
.image_captions{
  font-size: 0.9375rem;
}
.image_captions, .image_captions small{
  color: #666;
}
.image_captions small{
  font-size:0.8125rem;
}

/* Widget section */
.widget_section{
  clear: both;
  width: 37%;
  margin: 0 auto;
}
.author {
  margin: 5% auto 15px auto;
  font-size: 0.9375rem;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  color: black;
  text-decoration-color: #ccc;
}
.author a{
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  color: #333;
  text-decoration-color: #ccc;
  font-size: 100%;
}
.widget_position{
    list-style: none;
    display: -webkit-flex;
  }
  #time_author {
    font-size: 0.8125rem;
    width: auto;
    margin-bottom: 0;
    margin-left: 0;
    display: inline-block;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 500;
    line-height: 1.125rem;
  }
.widgets ul{
  display: inline-flex;
  list-style: none;
  float: right;
}
.widgets ul li{
  padding:0 16px;
}
#author_social{
  margin: auto;
  padding-left: 23%;
}

/* Main content */

.text_content{
  color: #333;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 19px;
  line-height: 1.5;
  margin: 0 auto;
  width: 630px;
}

.text_content p{
  margin-bottom: 23px;
}

.advertise{
  width: 100%;
  overflow: hidden;
  transform: scaleX(4);
  background-color: #ccc;
  height: 270px;
  margin-bottom: 20px;
}

/* .ad-content{
  height: 152px;
  background-color: #ccc;
  position: relative;
} */
